*.*

!.gitignore
!circle.yml
!pom.xml
!*.java
!*.asl
!*.md
!*.yaml

!src/analysis/**/*.xml
!src/analysis/**/*.txt

!src/main/resources/**/*.properties
!src/main/resources/**/*.yaml
!src/main/resources/**/*.xml
!src/main/resources/**/*.asl

target/**

/bin/
