*.*

!.gitignore
!circle.yml
!pom.xml
!*.java
!*.py
!*.asl
!*.md
!*.yaml

!src/analysis/**/*.xml
!src/analysis/**/*.txt

!src/main/resources/**/*.properties
!src/main/resources/**/*.yaml
!src/main/resources/**/*.xml
!src/main/resources/**/*.asl

/src/main/resources_backup/

target/**

/bin/

/src/main/java/org/lightvoting/simulation/statistics/postgres.txt

/src/main/python/*.yaml

